<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name = "connection" connectionString="Data Source=localhost; Integrated Security=SSPI;Initial Catalog=TestDataBase;"/>
  </connectionStrings>
  <appSettings>
    <add key = "factory" value="System.Data.SqlClient"/>
    <add key = "getAllCoursesQuery" value="SELECT * FROM Course"/>
    <add key = "createCourseQuery" value="INSERT INTO Course (ID, NAME) VALUES (@CourseID, @CourseName )"/>
    <add key = "deleteCourseQuery" value="DELETE FROM Course WHERE ID = @ID"/>
    <add key = "getCourseQuery" value="SELECT * FROM course WHERE ID = @ID"/>
    <add key = "updateCourseQuery" value="UPDATE course SET ID = @ID, Name = @CourseName WHERE ID = @ID"/>
  </appSettings>
</configuration>
